@import "../../../scss/index.scss";
.nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 10px;
  width: 100%;
  max-width: 724px;
  height: 120px;
  z-index: 5;
  @include mq(tablet) {
    max-width: 100%;
    width: 100vw;
    padding: 15px 0px;
    position: relative;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &__name {
    margin-right: 10px;
    font-weight: 600;
    font-weight: 0.8rem;
    @include mq(mobile-small) {
      display: none;
    }
  }
  &__hamburger {
    display: none;
    @include mq(tablet) {
      display: block;
      align-self: flex-start;
      position: relative;
      left: 25px;
      top: -25px;

      cursor: pointer;
    }
  }
  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    @include mq(tablet) {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      transform: translateY(-100%);
      translate: $primary-transition;
      background-color: white;
      &.opened {
        translate: $primary-transition;
        width: fit-content;
        transform: translateY(100%);
        left: 25px;
        height: 400px;
        border: $primary-border;
      }
    }
  }
  &__item {
    padding: 10px 15px;
    font-size: 1.125rem;
    position: relative;
    border: $primary-border;
    border-color: transparent;
    @include mq(tablet) {
      width: 100%;
      // padding: 30px 0;
    }
    &.active,
    &:hover {
      border-color: $text-color;
    }
  }
  &__button {
    padding: 5px;
    font-size: 0.8125rem;
    margin: 0 10px;
    font-weight: 600;
    color: $lignt-text-color;
    background-color: transparent;
    &--highlighted {
      border: $primary-border;
      border-color: $secondary-color;
    }
    &:hover {
      color: $text-color;
    }
  }
}
