@import "../../../scss/index.scss";
.main {
  width: 100%;
  height: 100vh;

  &__warning {
    height: 179px;
    background-color: $secondary-color;
    width: 100%;
    padding: 0 10px;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-message {
      font-size: 1.375rem;
      @include mq(tablet) {
        font-size: 1.1rem;
        line-height: 2rem;
      }
    }
  }
  &__screen {
    background-image: url("../../../assets/Background-Form.jpg");
    width: 100%;
    height: calc(100% - 179px);
    @include mq(tablet) {
      // height: 120vh;
      padding: 0 20px;
      background-size: cover;
      background-position: center -160%;
    }
    .main__header {
      margin: 30px 0;
    }
  }
  &__header {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  &__number {
    padding: 20px 0;
    font-size: 1.375rem;
    color: $lignt-text-color;
  }
  &__form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
    @include mq(tablet) {
      width: 100%;
    }

    label {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
  &__buttons {
    position: relative;
    bottom: 12%;
    @include mq(tablet) {
      padding-top: 30px;
      bottom: 20%;
    }
    button {
      width: fit-content !important;
      font-size: 1.2rem !important;
      margin: 0 15px;
    }
  }
  &__alert {
    color: red;
    font-weight: 600;
    font-size: 0.8rem;
    margin: 5px 0;
  }
  .one__alert {
    margin-top: 50px;
    font-size: 1.2rem;
  }
  input {
    border: $primary-border;
    padding: 10px;
    width: 100%;
  }
}
