.loading {
  margin: 40px auto;
  position: relative;
  transform: rotate(0deg);
  text-align: center;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
